.ipynb_checkpoints
.pixi
00_GettingReady.pdf
Ch1_natural_flow.ipynb
Ch3_user_demands.ipynb
Ch4_allocation.ipynb
Exercise_1
Exercise_3
Exercise_4
input
lab.cmd
Ny mappe
pixi.exe
pixi.lock
pixi.toml
ribasim
ribasim_qgis.zip
Test
test.ipynb